@font-face {
  font-family: 'Pokemon Hollow';
  src: url(pokemon/Pokemon\ Hollow.ttf);
}

.App {
  text-align: center;
  font-family: 'Pokemon Hollow';
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color:white;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.font {
  font-family: 'Pokemon Hollow';
}
.footerLogo {
  width: 15%;
}
.pokeball{
  margin-top: 2%;
  width: 5%; 
}

