.cardType {
    margin-top: 10%;
}
.text {
    font-size: 30px;
    margin-bottom: 10px;
}
.pokedia {
    font-size: 40px;
}
.black {
    border: solid black 5px;
}
.green {
    border: solid green 2px;
}
.red {
    border: solid red 2px;
}
.paragraph {
    margin-top: 30px;
    font-size: 30px 
}

